# Dependencies
node_modules/
**/node_modules/

# Environment
.env
.env.*
!.env.example

# Build
dist/
build/
.next/
coverage/

# Cache
.cache/
.turbo/
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.tmp

#readme files 
*.md
!README.md

*.private

#tests
*.testsIgnore

Fv0/



## im make the private github archieve for every project to store the project data that only useful for me then next task is to test the backend since the BE all module done and to try to start the frontend today, design first !!